@media (max-width: 1180px) {
  .content-wrap {
    width: 100%;
  }
  .content-container {
    flex-direction: column;
    height: 99.8%;
  }
  .row {
    flex-direction: column;
  }
  h1.vertical-text {
    padding: 0 0.3rem 0 0;
  }
  #projects {
    width: 100%;
  }
  .project-wrapper {
    flex-direction: column-reverse;
    justify-content: space-around;
    margin-left: 0;
  }
  .project-card {
    margin-bottom: 1rem;
    width: 100%;
  }
  .row-bottom {
    width: 100%;
    flex-direction: column-reverse;
  }
  #about {
    width: 100%;
    margin: 1rem 0 0;
  }
  .about-card {
    flex-direction: column;
    & div {
      background-color: rgba(255, 255, 255, 0.05);
    }
  }
  .about-title {
    padding: 0.5rem;
  }
  .about-text {
    display: flex;
    padding: 0.5rem 0 0.5rem 0.5rem;
  }
  .about-image {
    display: flex;
    padding: 0.5rem 0.5rem 0 0.5rem;
    & .glitch-effect {
      width: 250%;
    }
  }
  .about-text-image {
    display: none;
  }
  #skills {
    width: 100%;
    margin: 1.5rem 0 0;
  }
  .skills-svg-wrapper {
    display: flex;
    flex-direction: column;
  }
  #skills .svg {
    justify-content: center;
    padding-left: 2rem;
    &:first-child {
      margin-bottom: -1.5rem;
    }
  }
  .column-small {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  #coffee, #contact {
    flex: 1;
    justify-content: center;
  }
  .contact-icons, 
  #coffee .svg {
    padding-left: 2rem;
  }
}